/*START: Common till Tablet*/
@media screen and(max-width:1024px) {

    .hero-wrapper .hero-img,
    .hero-content-wrapper {
        .rel-wrapper;
        top: auto;
        left: auto;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .hero-wrapper .hero-img {
        margin: 8vh auto 5vh;
        width: 40%;
    }

    .hero-content-wrapper {
        .text-align-center;
        width: 60%;
        margin: auto;
    }

    .hero-content-wrapper .site-logo {
        width: 6rem;
        margin: auto;
    }

    .para {
        .small-font-size;
    }

    .modal {
        width: 65%;
        max-height: 70vh;
        overflow: hidden;

        .modal-body {
            max-height: calc(~"65vh - 2rem");
            overflow: hidden;
            overflow-y: auto;
        }
    }
}

/*END: Common till Tablet*/

/*START: Mobile*/
@media screen and (max-width: 767px) {
    .hero-wrapper .hero-img {
        margin: 10vh auto 3vh;
        width: 55%;
    }

    .hero-content-wrapper {
        width: 80%;
    }

    .modal {
        width: 90%;
        max-height: 80vh;

        .modal-body {
            max-height: calc(~"75vh - 2rem");
        }
    }

    .btn {
        .small-font-size;
    }

    .hero-content-wrapper .btn.know-more {
        font-size: .65rem;
    }

    .test-selection-wrapper .hero-img {
        .rel-wrapper;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        margin: 4rem auto 1rem;
        left: auto;
    }

    .test-selection-content {
        margin-left: 0;
        width: 100%;
        height: 68vh;
    }

    .test-selection-content .test-selection-body {
        height: calc(~"77vh - 8.6rem");
    }

    .answer-desc-wrapper {
        right: -200vw;
        width: calc(~"100vw - 4rem");
        height: calc(~"87vh - 7.9rem");
    }


    .test-selection-content {
        .technology-list .technology-item {
            width: calc(~"50% - 1rem");
        }

        .test-selection-footer {
            position: absolute;
            bottom: 0;
            background: #cecece;
        }
    }

    .test-screen-body {
        .question-progess-indicator {
            .current-question {
                .medium-font-size;
            }

            .total-question {
                .normal-font-size;
            }
        }

        .question {
            .normal-font-size;
        }

        .question-number {
            .medium-font-size;
        }

        .option-list .option-item {
            .small-font-size;
        }

        .total-question,
        .question {
            .normal-font-size;
        }

        .option-list .option-item {
            max-width: 100%;
        }

        .action-wrapper .btn:not(.submit-btn) em {
            display: none;
        }

        .action-wrapper .btn:not(.submit-btn) i {
            .block-element;
            padding: 0;
        }

        .action-wrapper .btn.prev-btn,
        .action-wrapper .btn.next-btn {
            width: calc(~"23% - .5rem");
        }

        .action-wrapper .btn.submit-btn {
            width: 51%;
        }
    }

    .test-screen-footer {
        padding-right: 0;

        em {
            padding-right: 0;
        }

        .badge-list {
            white-space: nowrap;
            overflow: hidden;
            overflow-x: scroll;
            padding-left: 3rem;

            .badge-item {
                padding: 0 .6rem;
            }
        }
    }
}

/*END: Mobile*/

/*START: Tablet*/
@media screen and(min-width: 767)and(max-width:1024px) {
    .hero-wrapper .hero-img {
        margin: 18vh auto 5vh;
        width: 55%;
    }

    .test-screen-body .action-wrapper .btn:first-child,
    .test-screen-body .action-wrapper .btn:nth-child(2) {
        width: calc(~"29% - .5rem");
    }

    .test-screen-body .option-list .option-item {
        max-width: 100%;
    }
}

/*END: Tablet*/
